@charset "utf-8";
/* CSS Document */


body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";color:white;font-size: 16px;margin: 0; background-color:black }

.border-bot{
	border-bottom: 2px dotted #C2C2C2
}
.navbar .navbar-brand img{
    width: 30%; height: auto;
}
.navbar .navbar-nav .nav-item .nav-link{
	padding: 6px 20px;font-weight: 400;border-radius: 20px; color:white; font-size:22px;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	background-color: #DCC69E;color: white
}
.navbar .navbar-nav .nav-item .dropdown-menu{
	background-color: #DCC69E;padding-bottom: 0;padding-top: 0
}
.navbar .navbar-nav .nav-item .dropdown-menu li{
	border-bottom: 1px dotted #ffffff
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
	color: white;transition: all 0.7s
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
	padding-left: 25px;background-color: burlywood
}
.navbar .navbar-toggler .navbar-toggler-icon{border-radius: 10px;text-decoration-color: black;color:black}
@media (max-width:667px){
	.navbar .navbar-nav .nav-item .nav-link{
		text-align: center
	}
	footer{text-align: center}

	.navbar .navbar-nav .nav-item .dropdown-menu{
	width: 200px;margin: 0 auto
	}
	.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
		text-align: center
	}
   footer .row .container p{text-align: center; display: flex;justify-content: center;align-items: center}
    footer .bg-black .text-white .col-lg-3 .p-3 p{display: flex; justify-content: center;align-items: center}
}
#banner .banner-l .carousel-inner .d-block .w-100{
padding-top:2000px    }
#banner .banner-r{
	position: relative; 
}
#banner .caption-r{
	position: absolute;width: 100%;height: 100%;text-align: center;color: white;top: 35%;
}

#banner .cover{
	position: absolute;width: 84%;height: 90%;background-color: rgba(0,0,0,0.9);left: 8%;top: 5%;color: white;padding: 15px;display: flex;flex-direction: column;justify-content: center;align-items: center;transform: scale(0) rotateY(360deg);transition: all 0.8s
}
#banner .banner-r:hover .cover{
	transform: scale(1) rotateY(0deg)
}
.hinh{
	position: relative;overflow: hidden
}
.social{
	position: absolute;width: 80%;height: 45px;left: 10%;top: 110%;display: flex;justify-content: space-around;transition: all 1s
}
.social a{
	width: 45px;height: 45px;border-radius: 50%;background-color: rgba(185,185,185,1.00);display: flex;justify-content: center;align-items: center;text-decoration: none;color: black
}
.social a:hover{
	background-color: darkred;color: white
}
.hinh:hover .social{
	top: 50%
}
#sp-headphone .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-headphone .owl-nav [class*='owl-'] {
	font-size:40px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #858585
}

#sp-headphone .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-headphone .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-headphone .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }

#sp-speaker .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-speaker .owl-nav [class*='owl-'] {
	font-size:40px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #858585
}

#sp-speaker .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-speaker .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-speaker .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }

#sp-acess .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-acess .owl-nav [class*='owl-'] {
	font-size:40px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #858585
}

#sp-acess .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-acess .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-acess .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }
#explorer .content{
	width: 100%;height: 100%;background-color: #DADADA;padding: 15px;text-align: center;display: flex;flex-direction: column;justify-content: center;
}
.box-cha{
	position: relative;overflow: hidden
}
.social-icon{
	position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.80);left: 0;top: 100%;padding: 15px;color: white;display: flex;flex-direction: column;justify-content: flex-end;transition: all 1s
}
.social-icon a{
	color: white; direction: collumn;
}
.social-icon a:hover{
	color: red
}
.box-cha:hover .social-icon{
	top: 0
}
@media (max-width:667px){
	.social-icon{
		display: none;
	}
}
#pageheader{
	width: 100%;min-height: 300px;background: url( "../images/3K IMG/about banner.png");background-repeat: no-repeat;background-size: cover;background-position: center top;display: flex;justify-content: center;align-items: center
}
#pageheader .caption{
    color: white;}
#pageheader h1{ padding-left: 160px}    
.about-icon{
	width: 100%;height: 45px;
}
.about-icon .box{
	height: 45px;width: 45px;background-color: #dcc89e;border-radius: 50%;display: flex;justify-content: center;align-items: center;margin-right: 20px
}
.about-icon .box a{
	color: white;font-size:26px;}
.about-icon .box:hover{
	background-color: greenyellow
}
.about-icon .box:hover a{
	color: white
}

#sp-marshall .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-marshall .owl-nav [class*='owl-'] {
	font-size:40px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #858585
}

#sp-marshall .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-marshall .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-marshall .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }    
 
#sp-hifiman .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-hifiman .owl-nav [class*='owl-'] {
	font-size:40px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #858585
}

#sp-hifiman .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-hifiman .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-hifiman .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; }  

#sp-sennheiser .owl-nav { position:absolute; left:0px; top:30%; width:100%; }
#sp-sennheiser .owl-nav [class*='owl-'] {
	font-size:40px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #858585
}

#sp-sennheiser .owl-nav .owl-next{ position:absolute; right:-2%;}
#sp-sennheiser .owl-nav .owl-prev{ position:absolute; left:-2%;}
#sp-sennheiser .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:black;
      text-decoration: none; } 
#product-banner{width: 100%;min-height: 300px;background: url( "../images/3K IMG/about banner.png");background-repeat: no-repeat;background-size: cover;background-position: center top;display: flex;justify-content: center;align-items: center}


.team{
	position: relative
}
.team-cover{
	position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.70);left: 0;top: 0;display: flex;justify-content: center;align-items: center;transform: scale(0);transition: all 0.6s
}
.team-cover .icon{
	width: 60%;height: 40px;display: flex;justify-content: space-between
}
.team-cover .icon a{
	height: 40px;width: 40px;background-color: white;border-radius: 50%;display: flex;justify-content: center;align-items: center;text-decoration: none;color: gray
}
.team-cover .icon a:hover{
	background-color: black;color: white
}
.team:hover .team-cover{
	transform: scale(1)
}
main{
	width: 100%;min-height: 800px
}
footer .nav .nav-item .nav-link{
	color: white
}
footer .nav .nav-item .nav-link:hover{
	color: #Dcc69e;
}footer .container img{
width:40%; height: auto; padding-left: 12px;}
#footer .container .row p{font-size:26px; padding-left: 12px;
    
    
    
